.loader_wrap {
  margin: auto;
}

.loader {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 100px;
  border-top: 5px solid rgb(235, 20, 20);
  border-left: 3px solid rgb(57, 15, 244);
  border-bottom: 4px solid rgb(165, 229, 2);
  border-right: transperent;
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
