@import "../../../styles/tokens.scss";

.wrapper {
  display: flex;
  cursor: pointer;
  & * {
    text-transform: uppercase;
  }
}

.lang {
  color: $color-white;
  @include font-text;
}

.active {
  color: $color-primary-80;
  @include font-text-bold;
}

.devider {
  color: $color-primary-40;
}
