@import "../../../../styles/tokens.scss";

.item {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
}

.title {
  flex-grow: 1;
  text-align: start;
  width: calc(100% - 28px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
