@import "../../../../styles/tokens.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  border-radius: 32px;
  background: $color-black;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 8px ;
  color: $color-primary-60;
  border-bottom: solid 1px $color-primary-60;
}

.content {
  flex-grow: 1;
  padding: 16px;
  color: $color-white;
  &:last-child {
    max-height: calc(100vh - 224px);
    overflow-y: auto;
  }
}

@media (max-width: $max-mobile) {
  .wrapper {
    width: 100%;
    max-width: none;
    border-radius: 16px;
  }
  .header {
    padding-top: 8px;
    padding-right: 8px;
  }
}
