@import "./styles/normalize.scss";
@import "./styles/tokens.scss";
@import "./styles/reset.scss";

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #21202e;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $color-primary-40;
}
